# Advanced Tutorial on MetaSynth

In this tutorial, we will be creating a `generative metadata format` (`gmf`) metadata file from a dataset using MetaSynth. We are going to walk through some of the advanced abilities of MetaSynth, such as handling dates, setting distributions and ensuring uniqueness in columns. This example workflow starts from a `.csv` file as input, but it easily adapted to other formats. 

You can run this notebook by checking out the MetaSynth repo and installing metasynth with `pip install metasynth`

In [1]:
# %pip install metasynth

In [2]:
# import required packages
import datetime as dt
import polars as pl
from metasynth import MetaDataset
from utils import get_demonstration_fp

## Step 1: Transforming your data into a pandas DataFrame

The first step in creating the metadata is reading and converting your dataset to a pandas DataFrame.

In [3]:
demonstration_fp = get_demonstration_fp()
df = pl.read_csv(demonstration_fp, parse_dates=True, dtypes={
    "Sex": pl.Categorical,
    "Embarked": pl.Categorical})
df.head()

shape: (5, 12)
┌─────────────┬───────────────┬────────┬─────┬─────┬────────────┬────────────┬────────────┬────────┐
│ PassengerId ┆ Name          ┆ Sex    ┆ Age ┆ ... ┆ Birthday   ┆ Board time ┆ Married    ┆ all_NA │
│ ---         ┆ ---           ┆ ---    ┆ --- ┆     ┆ ---        ┆ ---        ┆ since      ┆ ---    │
│ i64         ┆ str           ┆ cat    ┆ i64 ┆     ┆ date       ┆ time       ┆ ---        ┆ str    │
│             ┆               ┆        ┆     ┆     ┆            ┆            ┆ datetime[μ ┆        │
│             ┆               ┆        ┆     ┆     ┆            ┆            ┆ s]         ┆        │
╞═════════════╪═══════════════╪════════╪═════╪═════╪════════════╪════════════╪════════════╪════════╡
│ 1           ┆ Braund, Mr.   ┆ male   ┆ 22  ┆ ... ┆ 1937-10-28 ┆ 15:53:04   ┆ 2022-08-05 ┆ null   │
│             ┆ Owen Harris   ┆        ┆     ┆     ┆            ┆            ┆ 04:43:34   ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2           ┆ Cumings, Mrs. ┆ female ┆ 38  ┆ ... ┆ null       ┆ 12:26:00   ┆ 2022-08-07 ┆ null   │
│             ┆ John Bradley  ┆        ┆     ┆     ┆            ┆            ┆ 01:56:33   ┆        │
│             ┆ (Flor...      ┆        ┆     ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 3           ┆ Heikkinen,    ┆ female ┆ 26  ┆ ... ┆ 1931-09-24 ┆ 16:08:25   ┆ 2022-08-04 ┆ null   │
│             ┆ Miss. Laina   ┆        ┆     ┆     ┆            ┆            ┆ 20:27:37   ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 4           ┆ Futrelle,     ┆ female ┆ 35  ┆ ... ┆ 1936-11-30 ┆ null       ┆ 2022-08-07 ┆ null   │
│             ┆ Mrs. Jacques  ┆        ┆     ┆     ┆            ┆            ┆ 07:05:55   ┆        │
│             ┆ Heath (Li...  ┆        ┆     ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 5           ┆ Allen, Mr.    ┆ male   ┆ 35  ┆ ... ┆ 1918-11-07 ┆ 10:59:08   ┆ 2022-08-02 ┆ null   │
│             ┆ William Henry ┆        ┆     ┆     ┆            ┆            ┆ 15:13:34   ┆        │
└─────────────┴───────────────┴────────┴─────┴─────┴────────────┴────────────┴────────────┴────────┘

Now, let's check the data types of our DataFrame:

In [4]:
dict(zip(df.columns, df.dtypes))

{'PassengerId': polars.datatypes.Int64,
 'Name': polars.datatypes.Utf8,
 'Sex': polars.datatypes.Categorical,
 'Age': polars.datatypes.Int64,
 'Parch': polars.datatypes.Int64,
 'Fare': polars.datatypes.Float64,
 'Cabin': polars.datatypes.Utf8,
 'Embarked': polars.datatypes.Categorical,
 'Birthday': polars.datatypes.Date,
 'Board time': polars.datatypes.Time,
 'Married since': datetime[μs],
 'all_NA': polars.datatypes.Utf8}

We see that most variables are now nicely specified as strings, categories and ints where necessary. For the dates and times we just created, we see the dtype `object`. This is the "catch-all" dtype for pandas. But don't worry, these columns have the correct type and MetaSynth will deal with it correctly:

In [5]:
df["Birthday"][0]

datetime.date(1937, 10, 28)

## Step 2: Creating a MetaDataset object from a DataFrame

Now a lot of work has already gone into creating a properly formatted dataframe. This work pays off at this stage: let's convert the DataFrame to a meta_dataset structure with the default options. Note: this takes a little bit of time!

In [6]:
meta_dataset = MetaDataset.from_dataframe(df)

/home/qubix/Documents/shared_work/synthetic/meta-synth/metasynth/disttree.py:127: UserWarning:
Variable PassengerId seems unique, but not set to be unique.
Set the variable to be either unique or not unique to remove this warning.

  warnings.warn(f"\nVariable {series.name} seems unique, but not set to be unique.\n"

Then, we can show the metadata as a dictionary:

In [7]:
print(meta_dataset)

# Rows: 891
# Columns: 12

{'name': 'PassengerId', 'description': None, 'type': 'discrete', 'dtype': "<class 'polars.datatypes.Int64'>", 'prop_missing': 0.0, 'distribution': "{'name': 'DiscreteUniformDistribution', 'parameters': {'low': 1, 'high': 892}}"}

{'name': 'Name', 'description': None, 'type': 'string', 'dtype': "<class 'polars.datatypes.Utf8'>", 'prop_missing': 0.0, 'distribution': '.[]{12,82}'}

{'name': 'Sex', 'description': None, 'type': 'categorical', 'dtype': "<class 'polars.datatypes.Categorical'>", 'prop_missing': 0.0, 'distribution': "{'name': 'MultinoulliDistribution', 'parameters': {'labels': array(['female', 'male'], dtype='<U6'), 'probs': array([0.35241302, 0.64758698])}}"}

{'name': 'Age', 'description': None, 'type': 'discrete', 'dtype': "<class 'polars.datatypes.Int64'>", 'prop_missing': 0.19865319865319866, 'distribution': "{'name': 'DiscreteUniformDistribution', 'parameters': {'low': 0, 'high': 81}}"}

{'name': 'Parch', 'description': None, 'type': 'discrete', 'dtype': "<class 'polars.datatypes.Int64'>", 'prop_missing': 0.0, 'distribution': "{'name': 'PoissonDistribution', 'parameters': {'mu': 0.38159371492704824}}"}

{'name': 'Fare', 'description': None, 'type': 'continuous', 'dtype': "<class 'polars.datatypes.Float64'>", 'prop_missing': 0.0, 'distribution': "{'name': 'ExponentialDistribution', 'parameters': {'rate': 0.03052908440177665}}"}

{'name': 'Cabin', 'description': None, 'type': 'string', 'dtype': "<class 'polars.datatypes.Utf8'>", 'prop_missing': 0.7710437710437711, 'distribution': '[ABCDEFGT].[]{1,14}'}

{'name': 'Embarked', 'description': None, 'type': 'categorical', 'dtype': "<class 'polars.datatypes.Categorical'>", 'prop_missing': 0.002244668911335578, 'distribution': "{'name': 'MultinoulliDistribution', 'parameters': {'labels': array(['C', 'Q', 'S'], dtype='<U1'), 'probs': array([0.18897638, 0.08661417, 0.72440945])}}"}

{'name': 'Birthday', 'description': None, 'type': 'date', 'dtype': "<class 'polars.datatypes.Date'>", 'prop_missing': 0.08754208754208755, 'distribution': "{'name': 'UniformDateDistribution', 'parameters': {'start': '1903-07-28', 'end': '1940-05-27'}}"}

{'name': 'Board time', 'description': None, 'type': 'time', 'dtype': "<class 'polars.datatypes.Time'>", 'prop_missing': 0.08866442199775533, 'distribution': "{'name': 'UniformTimeDistribution', 'parameters': {'start': '10:39:40', 'end': '18:39:28', 'precision': 'seconds'}}"}

{'name': 'Married since', 'description': None, 'type': 'datetime', 'dtype': 'datetime[μs]', 'prop_missing': 0.10325476992143659, 'distribution': "{'name': 'UniformDateTimeDistribution', 'parameters': {'start': '2022-07-15T12:21:15', 'end': '2022-08-15T10:32:05', 'precision': 'seconds'}}"}

{'name': 'all_NA', 'description': None, 'type': 'string', 'dtype': "<class 'polars.datatypes.Utf8'>", 'prop_missing': 1.0, 'distribution': '\\d{3,4}'}

## Step 3: Saving the metadata in a file

After creating the metadata, we can save it to a file. The default format is `json`, meaning the file is quite legible by humans and computers alike. Therefore, it can be checked by the data controller and, when the disclosure risk is deemed to be low, this file can be shared with others.

In [8]:
file_path = "demonstration_metadata.json"
meta_dataset.to_json(file_path)

## Step 4: Generating synthetic data from the metadata

Upon receiving this file, you can use the MetaSynth package to generate a synthetic version of the dataset:

In [9]:
new_meta_dataset = MetaDataset.from_json(file_path)
new_meta_dataset.synthesize(5)

shape: (5, 12)
┌─────────────┬──────────────┬────────┬──────┬─────┬────────────┬────────────┬────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ ... ┆ Birthday   ┆ Board time ┆ Married    ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆     ┆ ---        ┆ ---        ┆ since      ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆     ┆ date       ┆ time       ┆ ---        ┆ f64    │
│             ┆              ┆        ┆      ┆     ┆            ┆            ┆ datetime[μ ┆        │
│             ┆              ┆        ┆      ┆     ┆            ┆            ┆ s]         ┆        │
╞═════════════╪══════════════╪════════╪══════╪═════╪════════════╪════════════╪════════════╪════════╡
│ 88          ┆ W#Xj7;<Tw0NB ┆ male   ┆ 55   ┆ ... ┆ 1930-08-16 ┆ 16:00:18   ┆ 2022-08-13 ┆ null   │
│             ┆ 59RA<*)qb:Ed ┆        ┆      ┆     ┆            ┆            ┆ 02:54:45   ┆        │
│             ┆ 8$Fb_A7m...  ┆        ┆      ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 121         ┆ Wuvhub:"y(;k ┆ male   ┆ 66   ┆ ... ┆ 1936-09-21 ┆ 14:32:39   ┆ 2022-07-20 ┆ null   │
│             ┆              ┆        ┆      ┆     ┆            ┆            ┆ 07:47:27   ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 332         ┆ ze2"*AD
*PP;  ┆ male   ┆ 78   ┆ ... ┆ 1916-06-06 ┆ 15:11:59   ┆ 2022-07-15 ┆ null   │
│             ┆ ]2aEC        ┆        ┆      ┆     ┆            ┆            ┆ 14:10:28   ┆        │
│             ┆ #vlVR#:{4	DV  ┆        ┆      ┆     ┆            ┆            ┆            ┆        │
│             ┆ >c           ┆        ┆      ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 437         ┆ *@B>rOZ#Ki6E ┆ female ┆ 43   ┆ ... ┆ 1904-10-29 ┆ 15:20:16   ┆ 2022-08-07 ┆ null   │
│             ┆ l*:xmg|m]G0  ┆        ┆      ┆     ┆            ┆            ┆ 19:13:35   ┆        │
│             ┆ 2MDY%        ┆        ┆      ┆     ┆            ┆            ┆            ┆        │
│             ┆ O...         ┆        ┆      ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 235         ┆              ┆ female ┆ null ┆ ... ┆ 1913-04-22 ┆ 11:31:22   ┆ 2022-08-08 ┆ null   │
│             ┆ *jO)e.V~

]f   ┆        ┆      ┆     ┆            ┆            ┆ 20:59:41   ┆        │
│             ┆ .:199e,eQgm  ┆        ┆      ┆     ┆            ┆            ┆            ┆        │
│             ┆
QI=          ┆        ┆      ┆     ┆            ┆            ┆            ┆        │
└─────────────┴──────────────┴────────┴──────┴─────┴────────────┴────────────┴────────────┴────────┘

As you can see, the fake data looks a lot like the real data! However, it could still use some improvement. In the next sections, we will explore manual changes we can make to improve the quality of the synthetic data.

## Step 5: Improving the quality of the synthetic data

### Set unique columns

One column (PassengerId) has been detected as possibly unique by MetaSynth, as indicated by the following warning:

> "Variable PassengerId seems unique, but not set to be unique."

This column holds a variable with unique passenger identifiers, so in fact we do want synthetic data generated for this column to be unique as well. We can add this to the metadata by creating a list of options which we call a `specification`, or `spec`:

In [10]:
# First, we create a specification dictionary for the variables
var_spec = {
    "PassengerId": {"unique": True}
}

# then, we add that dictionary as the `spec` argument
meta_dataset = MetaDataset.from_dataframe(df, spec=var_spec)

# then, let's check what the metadata about PassengerId contains!
meta_dataset["PassengerId"].to_dict()

{'name': 'PassengerId',
 'type': 'discrete',
 'dtype': "<class 'polars.datatypes.Int64'>",
 'prop_missing': 0.0,
 'distribution': {'name': 'UniqueKeyDistribution',
  'parameters': {'low': 1, 'consecutive': 1}}}

So let's check what is generated from this new metadata:

In [11]:
meta_dataset.synthesize(5)

shape: (5, 12)
┌─────────────┬──────────────┬────────┬──────┬─────┬────────────┬────────────┬────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ ... ┆ Birthday   ┆ Board time ┆ Married    ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆     ┆ ---        ┆ ---        ┆ since      ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆     ┆ date       ┆ time       ┆ ---        ┆ f64    │
│             ┆              ┆        ┆      ┆     ┆            ┆            ┆ datetime[μ ┆        │
│             ┆              ┆        ┆      ┆     ┆            ┆            ┆ s]         ┆        │
╞═════════════╪══════════════╪════════╪══════╪═════╪════════════╪════════════╪════════════╪════════╡
│ 1           ┆ _E lij
1w;1/  ┆ male   ┆ null ┆ ... ┆ 1938-12-03 ┆ 16:07:33   ┆ 2022-08-01 ┆ null   │
│             ┆ u:/T$.lb
P"g  ┆        ┆      ┆     ┆            ┆            ┆ 21:16:02   ┆        │
│             ┆
_C<L/r9...   ┆        ┆      ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2           ┆ XJ2s`b+n+|(@ ┆ female ┆ 80   ┆ ... ┆ 1918-05-14 ┆ 17:19:01   ┆ 2022-07-27 ┆ null   │
│             ┆ M(&l&7|u!M'8 ┆        ┆      ┆     ┆            ┆            ┆ 15:07:08   ┆        │
│             ┆ 9,
xaYpD...   ┆        ┆      ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 3           ┆ %"#\/%!Mo_Xi ┆ female ┆ 43   ┆ ... ┆ 1932-08-17 ┆ 11:07:51   ┆ 2022-08-03 ┆ null   │
│             ┆ #M.HR
"oa\!T  ┆        ┆      ┆     ┆            ┆            ┆ 08:39:16   ┆        │
│             ┆ 09           ┆        ┆      ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 4           ┆
#;ehuo2fOUo  ┆ male   ┆ 72   ┆ ... ┆ 1913-01-15 ┆ 17:58:20   ┆ 2022-08-01 ┆ null   │
│             ┆ I=1v&	at{8gz  ┆        ┆      ┆     ┆            ┆            ┆ 07:37:59   ┆        │
│             ┆ L{           ┆        ┆      ┆     ┆            ┆            ┆            ┆        │
│             ┆ Hv0^!...     ┆        ┆      ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 5           ┆ OVFZPfVc3
Ym  ┆ male   ┆ 26   ┆ ... ┆ 1914-01-08 ┆ 13:21:40   ┆ 2022-07-16 ┆ null   │
│             ┆ .t%          ┆        ┆      ┆     ┆            ┆            ┆ 16:53:20   ┆        │
└─────────────┴──────────────┴────────┴──────┴─────┴────────────┴────────────┴────────────┴────────┘

### Fake names (and others)

As one can see, the `Name` of the passengers is not quite so well synthesized. The reason is that the string type interpreter in MetaSynth is designed for `structured` strings (like room numbers such as `B1.09`, `B1.01` or `A1.08`) and not unstructured strings. However, MetaSynth supports the [faker](https://faker.readthedocs.io/en/master/index.html) package, which includes a lot of data types that it can fake. The columns using faker are not based on the real data at all so they do not disclose any info about the real data.

We fake names as follows:

In [12]:
# First, we create a specification dictionary for the variables
var_spec = {
    "PassengerId": {"unique": True}, 
    "Name": {"distribution": "faker.name"}
}

meta_dataset = MetaDataset.from_dataframe(df, spec=var_spec)
meta_dataset.synthesize(5)

shape: (5, 12)
┌─────────────┬───────────┬──────┬──────┬─────┬────────────┬────────────┬─────────────────┬────────┐
│ PassengerId ┆ Name      ┆ Sex  ┆ Age  ┆ ... ┆ Birthday   ┆ Board time ┆ Married since   ┆ all_NA │
│ ---         ┆ ---       ┆ ---  ┆ ---  ┆     ┆ ---        ┆ ---        ┆ ---             ┆ ---    │
│ i64         ┆ str       ┆ cat  ┆ i64  ┆     ┆ date       ┆ time       ┆ datetime[μs]    ┆ f64    │
╞═════════════╪═══════════╪══════╪══════╪═════╪════════════╪════════════╪═════════════════╪════════╡
│ 1           ┆ Gary      ┆ male ┆ 28   ┆ ... ┆ 1905-11-02 ┆ 15:23:42   ┆ 2022-07-28      ┆ null   │
│             ┆ Wilkerson ┆      ┆      ┆     ┆            ┆            ┆ 01:22:43        ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2           ┆ Micheal   ┆ male ┆ 2    ┆ ... ┆ 1936-02-21 ┆ 14:44:41   ┆ 2022-07-20      ┆ null   │
│             ┆ Anderson  ┆      ┆      ┆     ┆            ┆            ┆ 09:18:30        ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 3           ┆ Nicole    ┆ male ┆ null ┆ ... ┆ 1919-01-14 ┆ 10:47:08   ┆ 2022-08-10      ┆ null   │
│             ┆ Garcia    ┆      ┆      ┆     ┆            ┆            ┆ 16:59:18        ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 4           ┆ Monica    ┆ male ┆ 19   ┆ ... ┆ 1931-01-22 ┆ 12:44:43   ┆ 2022-08-02      ┆ null   │
│             ┆ Fisher    ┆      ┆      ┆     ┆            ┆            ┆ 16:49:47        ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 5           ┆ Tammy     ┆ male ┆ 19   ┆ ... ┆ 1937-12-24 ┆ 13:07:30   ┆ 2022-08-12      ┆ null   │
│             ┆ Thompson  ┆      ┆      ┆     ┆            ┆            ┆ 04:00:37        ┆        │
└─────────────┴───────────┴──────┴──────┴─────┴────────────┴────────────┴─────────────────┴────────┘

### Set distributions manually

Without user input, the distribution chosen for each variable is inferred by choosing the best fitting from available distributions for the variable type. However, we can also manually specify which distribution to fit, or we can even just fully specify how the variable should be generated.

In [13]:
from metasynth.distribution import DiscreteUniformDistribution

var_spec = {
    "PassengerId": {"unique": True}, 
    "Name": {"distribution": "faker.name"},
    "Fare": {"distribution": "LogNormalDistribution"}, # estimate / fit a log-normal distribution based on the data
    "Age": {"distribution": DiscreteUniformDistribution(20, 40)} # fully specify a distribution for age (uniform between 20 and 40)
}

meta_dataset = MetaDataset.from_dataframe(df, spec=var_spec)
meta_dataset.synthesize(5)

shape: (5, 12)
┌─────────────┬──────────────┬────────┬──────┬─────┬────────────┬────────────┬────────────┬────────┐
│ PassengerId ┆ Name         ┆ Sex    ┆ Age  ┆ ... ┆ Birthday   ┆ Board time ┆ Married    ┆ all_NA │
│ ---         ┆ ---          ┆ ---    ┆ ---  ┆     ┆ ---        ┆ ---        ┆ since      ┆ ---    │
│ i64         ┆ str          ┆ cat    ┆ i64  ┆     ┆ date       ┆ time       ┆ ---        ┆ f64    │
│             ┆              ┆        ┆      ┆     ┆            ┆            ┆ datetime[μ ┆        │
│             ┆              ┆        ┆      ┆     ┆            ┆            ┆ s]         ┆        │
╞═════════════╪══════════════╪════════╪══════╪═════╪════════════╪════════════╪════════════╪════════╡
│ 1           ┆ Lisa         ┆ female ┆ 25   ┆ ... ┆ 1926-05-18 ┆ 13:07:04   ┆ 2022-08-10 ┆ null   │
│             ┆ Velazquez    ┆        ┆      ┆     ┆            ┆            ┆ 14:45:59   ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2           ┆ Suzanne Cook ┆ male   ┆ null ┆ ... ┆ 1904-03-20 ┆ 17:25:56   ┆ 2022-08-12 ┆ null   │
│             ┆              ┆        ┆      ┆     ┆            ┆            ┆ 17:57:08   ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 3           ┆ Susan        ┆ male   ┆ 39   ┆ ... ┆ 1911-05-29 ┆ 11:29:41   ┆ 2022-08-06 ┆ null   │
│             ┆ Pearson      ┆        ┆      ┆     ┆            ┆            ┆ 10:44:00   ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 4           ┆ Angela       ┆ male   ┆ null ┆ ... ┆ null       ┆ 15:34:29   ┆ 2022-08-11 ┆ null   │
│             ┆ Cunningham   ┆        ┆      ┆     ┆            ┆            ┆ 22:40:46   ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 5           ┆ Martha       ┆ male   ┆ 29   ┆ ... ┆ 1926-01-06 ┆ 10:48:30   ┆ 2022-08-14 ┆ null   │
│             ┆ Robinson     ┆        ┆      ┆     ┆            ┆            ┆ 21:34:05   ┆        │
└─────────────┴──────────────┴────────┴──────┴─────┴────────────┴────────────┴────────────┴────────┘

### Specifying the distribution of structured strings

For more or less structured strings, we can manually set the structure of the strings based on regular expressions. For example, we see that most Cabins are structured like [A-F] and then 2 or 3 digit numbers. We can include this as follows:

In [14]:
from metasynth.distribution import RegexDistribution

# To create a regex distribution, you need a list of tuples, where each tuple is an element.
# The first part of the tuple is a string representation of the regex, while the second is the proportion of the
# time the regex element is used.
cabin_distribution = RegexDistribution(r"[ABCDEF]\d{2,3}")  # Add the r so that it becomes a literal string.
# just for completeness: data generated from this distribution will always match the regex [ABCDEF]?(\d{2,3})?

var_spec = {
    "PassengerId": {"unique": True}, 
    "Name": {"distribution": "faker.name"},
    "Fare": {"distribution": "LogNormalDistribution"}, # estimate / fit a log-normal distribution based on the data
    "Age": {"distribution": DiscreteUniformDistribution(20, 40)}, # fully specify a distribution for age (uniform between 20 and 40)
    "Cabin": {"distribution": cabin_distribution}
}

meta_dataset = MetaDataset.from_dataframe(df, spec=var_spec)
meta_dataset.synthesize(10)

shape: (10, 12)
┌─────────────┬───────────────┬────────┬─────┬─────┬────────────┬────────────┬────────────┬────────┐
│ PassengerId ┆ Name          ┆ Sex    ┆ Age ┆ ... ┆ Birthday   ┆ Board time ┆ Married    ┆ all_NA │
│ ---         ┆ ---           ┆ ---    ┆ --- ┆     ┆ ---        ┆ ---        ┆ since      ┆ ---    │
│ i64         ┆ str           ┆ cat    ┆ i64 ┆     ┆ date       ┆ time       ┆ ---        ┆ f64    │
│             ┆               ┆        ┆     ┆     ┆            ┆            ┆ datetime[μ ┆        │
│             ┆               ┆        ┆     ┆     ┆            ┆            ┆ s]         ┆        │
╞═════════════╪═══════════════╪════════╪═════╪═════╪════════════╪════════════╪════════════╪════════╡
│ 1           ┆ Kari Vargas   ┆ male   ┆ 34  ┆ ... ┆ 1939-08-16 ┆ 15:35:31   ┆ null       ┆ null   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2           ┆ Laura Parker  ┆ female ┆ 31  ┆ ... ┆ 1919-10-04 ┆ 15:39:20   ┆ 2022-07-27 ┆ null   │
│             ┆               ┆        ┆     ┆     ┆            ┆            ┆ 05:43:56   ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 3           ┆ Charles       ┆ female ┆ 29  ┆ ... ┆ 1926-02-06 ┆ 17:46:08   ┆ null       ┆ null   │
│             ┆ Pacheco       ┆        ┆     ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 4           ┆ Adam Powell   ┆ male   ┆ 32  ┆ ... ┆ 1935-09-04 ┆ 14:44:31   ┆ null       ┆ null   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...         ┆ ...           ┆ ...    ┆ ... ┆ ... ┆ ...        ┆ ...        ┆ ...        ┆ ...    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 7           ┆ Casey Hurst   ┆ female ┆ 39  ┆ ... ┆ 1939-01-14 ┆ 14:07:49   ┆ 2022-07-17 ┆ null   │
│             ┆               ┆        ┆     ┆     ┆            ┆            ┆ 07:33:22   ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 8           ┆ Lydia         ┆ male   ┆ 20  ┆ ... ┆ 1927-06-26 ┆ 16:16:17   ┆ 2022-07-17 ┆ null   │
│             ┆ Thompson      ┆        ┆     ┆     ┆            ┆            ┆ 01:34:56   ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 9           ┆ Lori Perez    ┆ female ┆ 34  ┆ ... ┆ 1930-05-01 ┆ 17:27:47   ┆ 2022-08-10 ┆ null   │
│             ┆               ┆        ┆     ┆     ┆            ┆            ┆ 16:11:59   ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 10          ┆ Natalie       ┆ female ┆ 35  ┆ ... ┆ 1937-07-25 ┆ 15:25:46   ┆ 2022-07-27 ┆ null   │
│             ┆ Hensley       ┆        ┆     ┆     ┆            ┆            ┆ 06:33:17   ┆        │
└─────────────┴───────────────┴────────┴─────┴─────┴────────────┴────────────┴────────────┴────────┘